  /*NORMALIZING BROWSER PRESET STYLES*/
ul, li, h3, p, body{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica','Arial Narrow',sans-serif;
  color: #333;
}
input:focus {
  outline:none;
}


 /*H E A D E R*/
header{
  width: 60%;
  background-color: ;
  border: 2px solid #333;
  margin: 0 auto;
  padding: 4% 0 2% 2%;
  background: #ffd;
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

form{
  position: relative;
}
#search-field {
  height: 32px;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 50px;
  font-size: 20px;
  border: 0;
  vertical-align: top;
  font-family: 'Helvetica Neue';
  color: #808080;
}
#submit-button{
  height: 34px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 0;
  color: #808080;
  font-size: 16px;
  font-weight: bold;
  margin-left: -2%;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  vertical-align: top;
  font-family: 'Helvetica Neue';
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-right: 3%;
  padding-left: 3%;
}
.search-icon{
  position: absolute;
  left: 2%;
  top: 20%;
  font-size: 22px !important;
  color: #808080;
}

 /*M A I N    S E C T I O N */
.text-data{
  display: inline-block;
  width: 66%;
  padding-left: 3%;
}
.navigation{
  float: right;
  margin-right: 2%;
}
#game-list{
  margin-top: 2%;
}
section{
  width: 60%;
  border: 2px solid #333;
  border-top: 0;
  margin: 0 auto;
  padding: 1% 0 2% 2%;
  display: none;
  background: #ffd;
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
li{
  list-style: none;
  margin-bottom: 1%;
}
.item-image{
  width: 30%;
  height: auto;
  border-radius: 6px;
  margin-top: 1%;
  border: 1px solid #333;
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
a{
  text-decoration: none;
  color: #1a0dab;
  font-weight: 500;
}
a:visited{
  color: #609;
}
h3, p, .text-data{
  vertical-align: top;
  display: inline-block;
}
h1{
  text-align: center;
}



/*SMALL SCREENS*/
@media (max-width: 760px)  {
  header, section{
    width: 90%;
  }
  li{
    text-align: center;
    border-bottom: 2px solid #333;
    padding: 1% 0 1% 0;
  }
  .item-image{
    width: 95%;
  }
}


/*M O B I L E*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
  header, section{
    width: 90%;
  }
  li{
    text-align: center;
    border-bottom: 2px solid #333;
    padding: 1% 0 1% 0;
  }
  .item-image{
    width: 95%;
  }
  #search-field{
    width: 70%;
  }
  #search-field, #submit-button, button{
    font-size: 33px;
    height: 38px;
    border: 0;
  }
}
